.FilmCard-container {
    height: auto;
    width: auto;
}

.FilmCard {}

/*
    display: grid;
    grid-template-columns: 200px 50px 200px;
    grid-template-rows: 300px auto 300px; 
    column-gap: 10px;
    row-gap: 15px;
    */