.player-controls {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.player-controls .skip-button {
    display: flex;
    border: none;
    outline: none;
    color: #1f1f1f;
    cursor: pointer;
    background-color: #fff;
}

.skip-button img{
    height: 45px;
    width: 42px;
}


.player-controls .broadcast-button {
    border: none;
    outline: none;
    color: #1f1f1f;
    background-color: #fff;
    cursor: pointer;
}

.player-controls .repeat-button {
    border: none;
    outline: none;
    color: #1f1f1f;
    background-color: #fff;
    cursor: pointer;
}