.player-controls {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
}


@media (min-width:768px) {
    .player-controls {
        width: 40vw;
    }
}


.player-controls .skip-button {
    display: flex;
    border: none;
    outline: none;
    color: #1f1f1f;
    cursor: pointer;
    background-color: #fff;
}

.skip-button img {
    height: 45px;
    width: 42px;
}


.player-controls .broadcast-button {
    border: none;
    outline: none;
    color: #1f1f1f;
    background-color: #fff;
    cursor: pointer;
}

.player-controls .broadcast-button img,
.player-controls .repeat-button img {
    height: clamp(30px, 3vw, 60px);
    width: clamp(30px, 3vw, 60px);
}

.player-controls .skip-button img {
    height: clamp(40px, 3.5vw, 60px);
    width: clamp(40px, 3.5vw, 60px);
}


.player-controls .repeat-button {
    border: none;
    outline: none;
    color: #1f1f1f;
    background-color: #fff;
    cursor: pointer;
}