.details-img {
    overflow: hidden;
    width: clamp(1px, 50vw, 300px);
    height: clamp(1px, 50vw, 300px);
    border-radius: 50%;
    margin: 1rem auto;
}

.details-img>img {
    display: block;
    margin: 0 auto;
    margin-left: -40%;
    height: 100%;
}

.details-title {
    padding-top: 20px;
    text-align: center;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: clamp(20px, 5vw, 33px);
}

.details-artist {
    text-align: center;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: clamp(14px, 3vw, 30px);
    padding-bottom: 5vw;
}

@media screen and (max-width: 768px) {
    .details-img {
        overflow: hidden;
        width: 50vw;
        height: 50vw;
        border-radius: 50%;
        margin: 1rem auto;
    }
}