.details-img {
    display: flex;
    overflow: hidden;
    width: 29vh;
    height: 29vh;
    border-radius: 50%;
    margin: 1rem auto;
    margin-bottom: 5vh;
    justify-content: space-around;
    align-items: center;
}

.details-img>img {
    display: block;
    margin: 0 auto;
    height: 100%;
}

.details-title {
    width: 60vw;
    padding-top: 20px;
    text-align: center;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: clamp(18px, 2vw, 28px);
}

.details-artist {
    width: 60vw;
    text-align: center;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: clamp(14px, 1.5vw, 26px);
    margin-bottom: 5vh;
}

@media screen and (max-width: 768px) {
    .details-img {
        overflow: hidden;
        width: 50vw;
        height: 50vw;
        border-radius: 50%;
        margin: 1rem auto;
    }
}