.searchbar-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    width: clamp(200px, 80vw, 600px);
}

.searchbar-container input {
    background-color: white;
    background-image: url('https://cdn.iconscout.com/icon/premium/png-256-thumb/search-4967899-4170595.png');
    background-size: clamp(16px, 1.5vw, 28px);
    ;
    background-position: clamp(10px, 1vw, 15px), clamp(10px, 1vw, 15px);
    background-repeat: no-repeat;
    padding-left: 40px;
    width: clamp(100px, 50vw, 400px);
    height: clamp(40px, 3vw, 52px);
    /*min-width: calc((100vw - 480px)/(1280 - 480) * (65 - 50) + 50vw);
    min-height: calc((100vw - 480px)/(1280 - 480) * (52 - 40) + 40px);*/
    border: 2px solid #1F1F1F;
    border-radius: 10px;
    outline: none;
}