.brand-name img {
    height: clamp(20px, 5vw, 85px);
    width: clamp(20px, 5vw, 85px);
}

.navigation {
    display: flex;
    align-items: center;
    margin-left: 5vw;
    margin-right: 5vw;
    /*padding-top: clamp(20px, 3vw, 27px);*/
    padding-top: 25px;
    position: relative;
    background-color: #fff;
}

.brand-name {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
}

.logo-title {
    margin-left: clamp(10px, 2rem, 20px);
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: clamp(18px, 2vw, 37px);
    line-height: 101.1%;
}

.navigation-menu {
    transition: width 2s, height 2s, background-color 2s, transform 2s;
    margin-left: 3vw;
    margin-right: auto;
}

.navigation-menu ul {
    display: flex;
    justify-content: space-evenly
}

/*
font-weight: 400;
font-size: 14px;
line-height: 19px;

font-weight: 400;
font-size: 20px;
line-height: 27px;
*/


.navigation-menu li {
    display: inline-block;
    font-size: 0;
    list-style-type: none;
    margin: 0 1vw;
    line-height: 150%;
    justify-content: center;
}

.navigation-menu li a {
    display: inline-flex;
    min-height: 2vw;
    text-decoration: none;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: clamp(14px, 1.2vw, 24px);
    line-height: 28px;
    color: #252525;
    letter-spacing: 0.235px
}

.navigation-menu ul>li>a:hover {
    border-bottom: 2px #252525 solid;
    font-weight: 600;
    letter-spacing: 0;
}

.navigation-menu li a:after {
    content: attr(data-text);
    content: attr(data-text) / "";
    height: 0;
    visibility: hidden;
    overflow: hidden;
    user-select: none;
    pointer-events: none;
    font-weight: var(--bold);
}

.hamburger {
    border: none;
    outline: none;
    font-size: clamp(14px, 5vw, 60px);
    background-color: #fff;
    cursor: pointer;
}

.profile-picture img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.input-container {
    margin-right: 2.6vw;
}

.input-container input {
    border: 1px solid #252525;
    border-radius: 25px;
    background-color: white;
    background-image: url('https://cdn.iconscout.com/icon/premium/png-256-thumb/search-4967899-4170595.png');
    background-size: clamp(16px, 1.5vw, 28px);
    background-position: clamp(10px, 1vw, 10px), clamp(10px, 1vw, 10px);
    background-repeat: no-repeat;
    padding-left: 40px;
    width: max(14vw, 140px);
    height: 2vw;
    color: #252525;
    font-family: 'Manrope';
    font-style: normal;
}

.input-container input::-webkit-input-placeholder {
    color: #252525;
    font-family: 'Manrope';
    font-style: normal;
}


.input-container input ::-moz-placeholder {
    color: #252525;
    font-family: 'Manrope';
    font-style: normal;
}


.input-container input:-ms-input-placeholder {
    color: #252525;
    font-family: 'Manrope';
    font-style: normal;
}

.input-container input :-moz-placeholder {
    color: #252525;
    font-family: 'Manrope';
    font-style: normal;
}

@media screen and (min-width: 768px) {
    .hamburger {
        display: none;
    }
}

.darkened {
    background: rgba(0, 0, 0, 0.54);
}

@media screen and (max-width: 768px) {

    .navigation {
        padding-top: 10vw;
        display: flex;
        width: 100vw;
        justify-content: space-between;
        margin: auto;
    }

    .navigation div {
        display: flex;
        justify-content: space-between;
        margin: auto;
    }

    .hamburger img {
        width: 7vw;
        height: 7vw;
    }

    .input-container input {
        width: 60vw;
        height: 10vw;
        background-color: white;
        background-image: url('https://cdn.iconscout.com/icon/premium/png-256-thumb/search-4967899-4170595.png');
        background-size: 5vw;
        background-position: 1vw, 1vw;
        background-repeat: no-repeat;
    }

    .navigation-menu ul {
        position: absolute;
        top: 0;
        right: 0;
        flex-direction: column;
        width: 0;
        height: 100vh;
        background-color: #1F1F1F;
        transition: all 0.75s ease;
    }

    .expanded ul {
        width: 40%;
    }

    .hamburger {
        margin-left: auto;
    }

    .profile-picture {
        margin: auto;
    }


    .navigation-menu li {
        text-align: center;
        display: flex;
        align-items: center;
        text-align: center;
    }

    .navigation-menu li a {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 28px;
        color: #FFFFFF;
    }

    .navigation-menu li:hover {
        background-color: #eee;
    }


    .navigation-menu.expanded {
        z-index: 2;
        display: block;
    }

    .brand-name {
        display: none;
    }
}