* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding: 1px solid green;
}

@media (min-width:1025px) {
    html {
        background: url(/src/assets/background-image.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        z-index: 1;
    }

}

ul{
    padding-left: 0;
}

.button:active {
    position: relative;
    top: 1px;
}

.player-page {
    display: flex;
    flex-direction: column;
}

.sidebar {
    width: 260px;
    background-color: #1F1F1F;
}