* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: #fff;
    height: 90vh;
}

.button:active {
    position: relative;
    top: 1px;
}

.player-page {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.sidebar{
    width: 260px;
    flex-shrink: 0;
    background-color: #1F1F1F;
}

